<h3>Update shelter:</h3>
<%= render partial: 'form',
  locals: {
    path:"/shelters/#{@shelter.id}",
    method: :patch,
    button_text: 'Update Shelter',
    pre_fill: {
      name: @shelter.name,
      address: @shelter.address,
      city: @shelter.city,
      state: @shelter.state,
      zip: @shelter.zip
    }
  } %>
