<h3>Enter details for a new adoptable pet:</h3>
<%= render partial: './pets/form',
  locals: {
    path: "/shelters/#{@shelter_id}/pets",
    method: :post,
    button_text: 'Create Pet',
    pre_fill: {}
  } %>
