<div class="show card">
  <h3>Applications for <%=@pet.name%></h1>
  <%= "#{@pet.name} has no active applications. #sadface" if @pet.applications.empty? %>

  <ul class='application'>
  <% @pet.applications.each do |application| %>
      <li><%= link_to application.name, "/applications/#{application.id}" %></li><br>
  <% end  %>
  </ul>
</div>
