<h3>Update pet:</h3>
<%= render partial: 'form',
  locals: {
    path: "/pets/#{@pet.id}",
    method: :patch,
    button_text: 'Update Pet',
    pre_fill: {
      image: @pet.image,
      name: @pet.name,
      description: @pet.description,
      age: @pet.age,
      sex: @pet.sex
    }
  } %>
