header {
  background: #FF9AA2;
  color: white;
  padding: 24px;
  font-family: "Lucida Console", Monaco, monospace;
}

body {
  margin:0;
  padding:0;
}

a {
  color: #e36d77;
}

p {
  color: gray;
}

ul {
  list-style-type: none;
}

ul.application {
  list-style-type: disc;
}

nav {
  background: #FFB7B2;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-right: 14px;
  padding-left: 14px;
  margin-top: -18px;
  float: left;
}

nav a:hover {
  color: gray;
}

.name {
  font-weight: bold;
  text-decoration: none;
}

.name:hover {
  text-decoration: underline;
}

.content {
  max-width: 90%;
  margin: auto;
  margin-left: 7%;
  background: white;
  font-family: "Trebuchet", sans-serif;
  font-size: 12px;
}

.card img {
  border-radius: 5px;
  width: 240px;
  height: 240px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 260px;
  border-radius: 5px;
  float: left;
  padding: 0 10px 10px;
  margin: 7px;
  background: linear-gradient(180deg, white 93%, #FFDAC1 93%);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card.show {
  width: 60%;
  margin-left: 15%;
  margin-right: auto;
  font-size: 150%;
  font-size: 1.5vw;
}

.card.show img {
  border-radius: 5px;
  width: 45%;
  height: auto;
  object-fit: cover;
  display: block;
  float: left;
  margin-bottom: 50px;
  margin-right: 30px;
}

.card.show.pet p {
  text-align: right;
  display: block;
}

.card.shelter {
  font-size: 125%;
  background: linear-gradient(180deg, white 60%, #FFDAC1 60%);
}

.container {
  padding: 2px 16px;
}

.small {
  font-size: 75%;
}

.big {
  font-size: 125%;
}

.bigger {
  font-size: 200%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.delete {
  color: red;
}

.spaced {
  margin-right: 15px;
}
